{
  "sources": [
    {
      "name": "SqlInjection",
      "comment": "used to annotate SQL input"
    }
  ],
  "sinks": [
    {
      "name": "SqlExecution",
      "comment": "used to annotate SQL injection"
    }
  ],
  "features": [],
  "rules": [],
  "vulnerability": {
    "name": "Possible SQL injection",
    "code": 5003,
    "sources": ["SqlInjection"],
    "sinks": ["SqlExecution"],
    "message_format": "User-specified data may reach a SQL execution sink"
  }
}
