{
  "sources": [
    {
      "name": "XssInjection",
      "comment": "used to annotate xss input"
    }
  ],
  "sinks": [
    {
      "name": "XssExecution",
      "comment": "used to annotate xss execution"
    }
  ],
  "features": [],
  "rules": [],
  "vulnerability": {
    "name": "Possible XSS reflected vulnerability",
    "code": 5003,
    "sources": ["XssInjection"],
    "sinks": ["XssExecution"],
    "message_format": "User-specified data may reach a xss execution sink"
  }
}
