{
  "sources": [
    {
     "name": "XeeInjection",
     "comment": "use to annotate XXE input"
    }
  ],
  "sinks": [
   {
    "name": "XeeExecution",
    "comment": "use to annotate xxe injection"
   }
  ],
  "features": [],
  "rules": [
    {
      "name": "Possible xee:",
      "code": 5004,
      "sources": ["XeeInjection"],
      "sinks": ["XeeExecution"],
      "message_format": "User specified data may reach a XXE execution sink"
    }
  ]
}
